.desktop-nav{
    display: none;
}
.mobile-nav{
    overflow: hidden;
}
@media (min-width: 800px){
    .desktop-nav{
        display: block;
    }
    .mobile-nav{
        display: none;
    }
}

.navbar{
    min-height: 140px;
    /*background-image: url("../img/paper.png");*/
    background-color: white;
    transition: all 0.5s;
    padding-top: 10px;
    display: flex;
    align-items: center;
}
    .headroom--pinned .navbar .nav-image{
        padding-top: 0;
        height: 5vh;
        width: 5vw;
    }
    .headroom--pinned .navbar .nav-link{
        font-size: .9rem;
    }

    .headroom--pinned .navbar .nav-link{
        background-color: white;
    }

    .headroom--unfixed .navbar{
        background-color: white;
        transition: background-color 0.4s;
        height: 10px;
    }
@media (min-width: 800px){
    .navbar{
        padding-top: 0;
    }
    .nav-image{
        padding-top: 0px;
    }
}
.nav-image{
    transition: all 0.5s;
    width: 100px;
    height: 100px;
    padding-top: 10px;
}

/* headroom: change color when scrolling */
.headroom--pinned .navbar{
    background-color: white;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    height: 10px;
    min-height: 60px;
}


.nav-stuff{
    /*padding-left: 3rem;
    padding-right: 3rem;*/
}

.nav-link{
    transition: all 0.5s;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-link1{
    color:var(--color1dark);
}

.nav-link2{
    color:var(--color5);
}

.nav-link3{
    color:var(--color4);
}

.rounded-circle{
    background-color: white;
}